@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom themes ======== */ 
$my-custom-primary: mat-palette($mat-indigo);
$my-custom-accent: mat-palette($mat-indigo);
$my-custom-warn: mat-palette($mat-red);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);

.login-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
  }
//   a {
//     color: #0366d6;
//   }
  
//   code {
//     color: #e01a76;
//   }
  
//   .btn-primary {
//     color: #fff;
//     background-color: #1b6ec2;
//     border-color: #1861ac;
//   }
  
  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding-right: 100px !important;
  }
  
  .mat-form-field-infix {
    width: 250px !important;
  }
  .md-datepicker-button {
    display: none;
    text-align: center;
  }
  mat-header-cell, mat-cell {
    justify-content: center;
  }

  .center { text-align: center }

  .wrap {
    padding: 20px;
    float: left;
    border:1px solid #aaa;
}
// By default, the mobile label shouldn't show
.mobile-label {
  display: none;
}

@media(max-width: 800px) {
  // Custom header label that shows in each column, with a set width and bold font
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  // Remove the header row altogether
  .mat-header-row {
    display: none;
  }

  // The row cells should display as a column, justified left, with a bit of extra padding
  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    min-height: unset; // Tweak for Angular Material 8
  }

  // Tweaks for Angular Material 8
  .mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
    padding-left: unset;
  }

  .mat-cell {
    align-items: unset;
    min-height: unset;
  }
}