<h1 mat-dialog-title><strong>{{action}} транспортное средство</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Удалить'; else elseTemplate">
    <input placeholder="Номер гос. регистрации" matInput [(ngModel)]="local_data.registrationNumber">
  </mat-form-field>
  <mat-form-field style="width: 100%" *ngIf="action != 'Удалить'; else elseTemplate">
      <input matInput  [matDatepicker]="picker1" [(ngModel)]="local_data.maintenanceDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker  #picker1></mat-datepicker>
  </mat-form-field>
    <mat-checkbox *ngIf="action != 'Удалить'; else elseTemplate" [(ngModel)]="local_data.maintenanceSuccess">Актуальность ТО</mat-checkbox>
  <div *ngIf="action == 'Удалить'">Вы точно хотите удалить "{{local_data.registrationNumber}}"?</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Отмена</button>
</div>
