  <div fxLayout="row" 
  fxLayoutAlign="start"
  >
<button style="width: 35%; margin-right: 1rem;" mat-button (click)="openDialog('Добавить',{})" mat-flat-button color="primary"
*ngIf="isInspector">
  Зарегистрировать транспортное средство</button>
  <button style="width: 15%;margin-right: 1rem;" mat-button (click)="checkMaint()" mat-flat-button color="primary"
*ngIf="isInspector">
  Проверка ТО</button>
  <input style="width: 25%;"  readonly   matInput [(ngModel)]="maintCountStr">

</div> 
  <mat-table fxLayout="column wrap" [dataSource]="dataSource" #mytable class="mat-elevation-z8" >
    <ng-container matColumnDef="registrationNumber">
      <mat-header-cell *matHeaderCellDef> Номер гос. регистрации </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.registrationNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="maintenanceDate">
      <mat-header-cell *matHeaderCellDef> Дата тех. обслуживания </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-form-field appearance="standard" class="md-datepicker-button" style="text-align: center" >
          <input matInput readonly [matDatepicker]="picker1" [(ngModel)]="element.maintenanceDate"
           >
          <mat-datepicker-toggle class="md-datepicker-button"  matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker class="md-datepicker-button" #picker1 ></mat-datepicker>
        </mat-form-field>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="maintenanceSuccess">
      <mat-header-cell *matHeaderCellDef> Неактуальность ТО </mat-header-cell>

      <mat-cell *matCellDef="let element">
        <mat-checkbox class="example-margin" [(ngModel)]="element.maintenanceSuccess"
                      (click)="$event.preventDefault()"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef> Цвет </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.color.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef> Модель </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.model.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Категория </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.category.name}} </mat-cell>
    </ng-container>



    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Действие </mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-link">
        <div style="text-align: center">
        <button mat-button (click)="openDialog('Обновить',element)" >Изменить</button>
        <button  mat-button (click)="openDialog('Удалить',element)" *ngIf="isInspector">Удалить</button>
      </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>