<button mat-button (click)="openDialog('Добавить',{})" mat-flat-button color="primary"
*ngIf="isInspector">
  Добавить транспортное средство</button>
  <mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" >
    <ng-container matColumnDef="registrationNumber">
      <mat-header-cell *matHeaderCellDef> Номер гос. регистрации </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.registrationNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef> Цвет </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.color.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="maintenanceDate">
      <mat-header-cell *matHeaderCellDef> Дата тех. обслуживания </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-form-field appearance="standard" class="md-datepicker-button" style="text-align: center" >
          <input matInput readonly [matDatepicker]="picker1" [(ngModel)]="element.maintenanceDate"
           >
          <mat-datepicker-toggle class="md-datepicker-button"  matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker class="md-datepicker-button" #picker1 ></mat-datepicker>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="maintenanceSuccess">
      <mat-header-cell *matHeaderCellDef> Актуальность ТО </mat-header-cell>

      <mat-cell *matCellDef="let element">
        <mat-checkbox class="example-margin" [(ngModel)]="element.maintenanceSuccess"
                      (click)="$event.preventDefault()"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Действие </mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-link">
        <a (click)="openDialog('Обновить',element)">Редактировать</a> 
        <div *ngIf="isInspector">|</div>
        <a (click)="openDialog('Удалить',element)" *ngIf="isInspector">Удалить</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>