<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">ГИБДД</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-row justify-content-end">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <!-- <a mat-button class="nav-link text-dark" [routerLink]="['/']">Главная</a> -->
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <!-- <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Регистрация</a
            > -->
            <a mat-button  class="nav-link text-dark" routerLink="login" routerLinkActive="active">{{loginTitle}}</a>

          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a mat-button mat-raised-button  class="nav-link text-dark" routerLink="register" routerLinkActive="active">Регистрация</a>
            <!-- <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Вход</a
            > -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
