<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card >
      <mat-card-header>
        <mat-card-title>Вход</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" name="email" [(ngModel)]="user.email">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Пароль" name="password" type="password" [(ngModel)]="user.password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="submit(user)">Войти</button>
        <button mat-stroked-button color="accent" class="btn-block" (click)="logout()">Выйти</button>
      </form>
      <input matInput name="error" [(ngModel)]="error">
    </mat-card>
  
  </div>
